body{
  margin: 0;
}
.topBar{
  background-image:linear-gradient( black 0%, rgb(29,91,65) 50%, black 100%);
  width:100vw;
  height:200px;
}
.greenBar{
  background-color: rgb(29,92,66);
  display:block;
  width:100vw;
  height:20px;
}
.botGrey{
  background-color:rgb(209,212,211);
}
footer{
  padding: 2rem 0 2rem 0;
  background-color:rgb(29,92,66);
  display:block;
}

.map{
  position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%);
  aspect-ratio: 1/1;
  background:grey;
  background-repeat: no-repeat;
  background-image: url(../images/map.png);
  background-position: 55% -10%;
  background-size:180%;
  max-width:500px;
  width:80vw;
  border:solid;
 display:none;
  z-index:  2;
}
.poi{
  transform: translate(-50%,-50%);
  position: absolute;
cursor:grab;
  display:block;
  aspect-ratio: 1/1;
  width:3%;
  background-color:green;
  border-radius:50%;
  border:solid 1px;
}
.poi:active{cursor:grabbing;}

.frontEnt{
  top:78%;
  left:49.5%;
}
.hallSpli{
   top:31%;
  left:49.5%;
}
.helpBar{
  border: solid 3px;
  padding:4px;
  max-width:300px;
  position: relative;
  margin:auto;
  z-index:3;
  background-color:grey;
}
.room{
  display:flex;
  align-items:center;
  justify-content:center;
  aspect-ratio:1/1;
  position: absolute;
  transform: translate(-50%,-50%);
  top:54%;
  left:50%;
  width:80%;
  max-width:500px;
  z-index:1;
}
.current{
  background-color:white;
  cursor:initial;
}
.current:active{
  cursor: initial;
}
img{
  width:77%;
  border:solid 3px;
  
}
